@use 'fonts' as *;

$spacer: 10px;
$headerHeight: 150px;
$mobile-bp: 960px;
$nav-bp: 960px;
$charcoal: rgba(24, 24, 24, 1);

@mixin contained {
  width: 1280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1280px) {
      width: 90%;
      max-width: 90%;
  }
}
@mixin gridBasic {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

@mixin gridFixed {
  @include contained;
  @include gridBasic;
}

@mixin gridFixedNested {
  @include contained;
  @include gridBasic;

  @media (max-width: 1280px) {
      width: 100%;
      max-width: 100%;
  }
}


@mixin gridFluid {
  width: 100%;
  width: 100vw;
  display: grid;
  @include gridBasic;
}


::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: .3s ease all;
}

//   html {
//     background-color: white;
//   }
#__layout {
  min-height: 100%;
  min-height: 100vh;
}

.visually-hidden {
  display: none;
}

body {
  font-family: 'DM Sans', sans-serif;
}
body.home {
  background: #000;
}
a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

nav ul {
  list-style: none;
}

.p {
  font-size: 16px;
  text-transform: none;
}


.text-wrapper {
  display: flex;
  flex-direction: column;

  >*:not(:last-child) {
    margin-bottom: 10px;
  }

  p,
  .p {
    max-width: 50ch;
  }
}


.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 134;
}
.home, .work {
  .fixed-header:not(.menu-expanded) {
    mix-blend-mode: difference;
  }
}

.fixed-header + * {
  position: relative;
  z-index: 12;
}

header.site-header {
  width: 100%;
  padding-top: 30px;
  @include gridFixed;

  .logo {
    grid-column: 1 / span 2;
    @media (max-width: $mobile-bp) {
      grid-column: 1 / span 6;
    }
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  nav {
    grid-column: span 6 / 13;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        padding: 30px;
        font-size: 18px;
        line-height: 16px;
        @media (max-width: $mobile-bp) {
          font-size: 20px;
        }
        transition: .3s ease all;
        &:last-child {
          padding-right: 0;
        }
        &:hover {
          font-size: 20px;
        }
        a {
          &.nuxt-link-active {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}

.layout-default header.site-header {
  .logo img {
    filter: brightness(0);
  }
}



section {
  width: 100%;

  &.basic-row {
    display: flex;

    &+.basic-row {
      margin-top: 30px;
    }
  }
}

.work-item {
  // display: flex;
  // align-items: flex-start;
  // margin-top: 80vh;
  .image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 50%;
    margin-top: -200px;
  }

  .text-wrapper {
    position: fixed;

    >*:not(:last-child) {
      margin-bottom: 10px;
    }

    h2,
    h3 {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}



form {
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
  }

  textarea {
    outline: 0;
    border-radius: 0;
    background: transparent;
    height: 300px;
  }
}


.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}


section.capability-list {
  background: rgba(191, 191, 191, 1);
  padding: 15vh 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  >* {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .highlight-image {
    // transition: padding 0s;
    overflow: hidden;
    position: absolute;
    place-self: center;
    z-index: 102;
    width: 100%;
    height: 0;
    opacity: 0;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  ul {
    list-style: none;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      color: white;
      text-transform: uppercase;
      font-size: 36px;
      z-index: 101;
      padding: 10px;
      display: block;
    }
  }
}

.about-grid {
  display: flex;
  flex-direction: column;

  >*:not(:last-child) {
    margin-bottom: $spacer;
  }
}

// .about-grid section {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-auto-rows: auto;
//   margin: 0 auto;
//   max-width: 1080px;
//   @media (max-width: 1080px) {
//     max-width: 90%;
//   }
// }

.grid-parent {
  .grid-wrapper {
    &.grid-fixed {
      margin: 0 auto;
      max-width: 1080px;

      @media (max-width: 1080px) {
        max-width: 90%;
      }

      .grid-template {
        width: 100%;
      }
    }

    &.grid-fluid {
      padding: 0 15px;

      .grid-template {
        margin: 0 auto;
        max-width: 1080px;

        @media (max-width: 1080px) {
          max-width: 90%;
        }
      }
    }

    .grid-template {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 15px;
      grid-auto-rows: auto;
    }
  }
}

.about-grid {
  padding-bottom: 30px;

  p+p {
    margin-top: $spacer;
  }

  .introduction {
    .grid-column {
      grid-column: #{'2 / 7'};
    }
  }

  .section-divider {
    margin-top: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    .grid-column {
      grid-column: #{'1 / 13'};
      display: flex;
      align-items: center;
      padding: 10px 0;

      >*:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .floating-text {
    margin: 30px 0;

    h3 {
      font-size: 28px;
      margin-bottom: 30px;
    }

    .grid-column {
      &.col-start-8 {
        grid-column: 8 / span 4;
      }

      &.col-start-4 {
        grid-column: 4 / span 4;
      }

      &.col-start-6 {
        grid-column-start: 6;
      }

      &.col-start-7 {
        grid-column-start: 7;
      }
    }
  }

  .call-to-action {
    margin: 30px 0 130px 0;

    .grid-column {
      grid-column: #{'2 / 11'};
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .asterisks {
    .grid-column {
      grid-column: #{'1 / 13'};

      p {
        font-size: 12px;
      }
    }
  }
}

button.flat {
  border: 0;
  outline: none;
  border-radius: 0;
  background: transparent;

  a {
    font-size: 16px;
  }
}



.button,
button {
  outline: none;
  border: 0;
  background: transparent;
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.button:not(.flat),
button:not(.flat) {
  a,
  span {
    background: $charcoal;
    transition: .3s ease all;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    padding: $spacer $spacer*2;
  }

  &:disabled {
    &:hover {
      cursor: default;
    }
    a,
    span {
      background: lighten($charcoal, 30);
      color: #fff;
    }
  }
  &:hover {
    cursor: pointer;
    a, span {
      background: #F18E71;
      color: #fff;
    }
  }
}

p.small {
  font-size: 0.8em;
}


.video-wrapper {
  width: 100%;
  overflow: hidden;
  video {
    max-width: 100%;
  }
}


.grid-fixed {
  @include gridFixed;
}

// page containers with grid
.container {
  width: 100%;
  margin-top: 200px;
  @media (max-width: $mobile-bp) {
    margin-top: 150px;
  }
}
.container:not(.container-no-grid) {
  @include gridFixed;
  &:not(.container-home) {
    margin-top: 200px;
    margin-bottom: 100px;
    @media (max-width: $mobile-bp) {
      // margin-top: 150px;
    }
  }
}

/* TYPOGRAPHY */

html {
  font-size: 18px;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* LAYOUTS */
.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


/* HOME PAGE */
.layout-home {
  background: #000;
  * {
    color: #fff;
  }
  .container-home {
    flex: 2;
  }
}
.container-home {
  // place-content: end;
  grid-auto-rows: auto;
  section {
    // place-self: end;
    padding-bottom: 60px;
    grid-column: 1 / span 4;
    @media (max-width: 1000px) {
      grid-column: 1 / span 10;
      padding-right: 10px;
    }
    h2 {
      font-family: 'DM Sans', sans-serif;
      font-style: 400;
      font-weight: 400;
      font-size: 44px;
      line-height: 55px;
      @media (max-width: $mobile-bp) {
        line-height: 50px;
      }
    }
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}


/* CONTACT PAGE */


.page-contact {
  .contact-intro {
    grid-column: 2 / span 5;
    margin-bottom: 30px;
    @media (max-width: $mobile-bp) {
      grid-column: 1 / span 12;
    }
  }
  .contact-form {
    grid-column: 2 / span 5;
    @media (max-width: $mobile-bp) {
      grid-column: 1 / span 12;
      grid-row: 2 / 3;
      margin-bottom: 30px;
    }
  }
  .contact-info {
    grid-column: 8 / 13;
    @media (max-width: $mobile-bp) {
      grid-column: 1 / span 12;
      grid-row: 3 / 4;
    }
  }
  
  // .contact-info,
  // .contact-form {
  //   > *:not(:last-child) {
  //     margin-bottom: 70px;
  //   }
  // }

  .contact-form {
    .text-wrapper {
      margin-bottom: 100px;
    }
  }
  .contact-info {
    .text-wrapper:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  .contact-intro {
    h1 {
      font-size: 32px;
      line-height: 44px;
    }
    p {
      font-size: 26px;
      line-height: 34px;
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 22px;
      line-height: 29px;
    }
    p + h2 {
      margin-top: 70px;
    }
    p {
      font-size: 14px;
      line-height: 18px;
    }
    .text-wrapper:last-child {
      p {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      label {
        margin-bottom: 6px;
        font-size: 14px;
        text-transform: uppercase;
      }
      & +.form-group {
        margin-top: 50px;
      }
    }
  }
  .contact-form button {
    display: flex;
  }
}

footer.site-footer {
  width: 100%;
  background: #000;
  padding: 60px 0 30px 0;
  position: relative;
  z-index: 13;
  * { 
    color: #fff;
  }
  .row {
    @include gridFixed;
    #backToTop {
      grid-column: span 2 / 13;
      grid-row: 1 / 2;
      text-align: right;
      @media (max-width: $mobile-bp) {
        grid-column: 1 / span 5;
        grid-row: 4 / 5;
        text-align: left;
        margin-top: 111px;
        margin-bottom: 0;
      }
    }
    .col {
      grid-column: span 3;
      @media (max-width: $mobile-bp) {
        grid-column: span 8;
        margin-bottom: 30px;
        &:first-child {
          grid-row: 1 / 2;
        }
        &:nth-child(2) {
          grid-row: 2 / 3;
        }
        &:nth-child(3) {
          grid-row: 3 / 4;
        }
      }
    }
  }
  ul, ol {
    list-style: none;
  }
  .footer-column-block div {
    > *:not(:last-child) {
      margin-bottom: 10px;
    }
    h2 {
      font-family: 'Reckless', serif;
      font-size: 22px;
      line-height: 22px;
    }
    p, ul li, ol li {
      font-size: 14px;
      line-height: 20px;
      max-width: 295px;
    }
  }
  .sub-footer {
    @include contained;
    display: flex;
    padding: 80px 0 40px 0;
    @media (max-width: $mobile-bp) {
      padding: 0;
    }
    width: 100%;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 10px;
      line-height: 20px;
    }
    .submark img {
      max-width: 50px;
      filter: grayscale(1) invert(1);
    }
  }
}

button[disabled] {pointer-events:none}

input::placeholder,
input {
  font-family: 'DM Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  opacity: 1;
  color: #000;
}
textarea {
  border: 1px solid #000;
}

.error-group {
  * {
    color: #F18E71;
  }
  > *:not(:last-child) {
    margin-bottom: 10px;
  }

}

.has-error {
  input.is-not-valid {
    background: #F18E71; 
  }
}

// team page

.page-team {
  @media (max-width: $mobile-bp) {
    display: flex !important;
    flex-direction: column;
  }
  > * {
    grid-column: 1 / span 11;
    &:not(:last-child) {
      margin-bottom: 150px;
      @media (max-width: $mobile-bp) {
        margin-bottom: 50px;
      }
    }
  }
  .person {
    @include gridFixedNested();
    .image-wrapper {
      grid-column: 2 / span 4;
      padding-right: 25%;
      @media (max-width: $mobile-bp) {
        grid-column: span 8 / 13;
        padding-left: 30px;
        padding-right: 0;
        margin-bottom: 30px;
      }
      img {
        filter: blur(0px);
        transition: .5s ease all;
      }
      &:hover {
        img {
          filter: blur(20px);
        }
      }
    }
    .text-wrapper {
      grid-column: span 6;
    
      @media (max-width: $mobile-bp) {
        grid-column: 1 / span 12;
      }
      &.bio {
        padding-right: 5%;
      }
      &.announcement {
        grid-column: 9 / span 4;
        @media (max-width: $mobile-bp) {
          grid-column: 9 / span 2;
        }
      }
    }
    &.has-announcement .bio.text-wrapper {
      grid-column: 2 / span 6;
      padding-right: 0;
      @media (max-width: $mobile-bp) {
        grid-column: 1 / span 7;
      }
      p {
        max-width: unset;
      }
    }

    h2 {
      display: flex;
      align-items: center;
      font-family: 'Reckless', serif;
      font-size: 22px;
      line-height: 22px;
      .pronouns {
        font-family: 'DM Sans', sans-serif;
        font-size: 10px;
        line-height: 20px;
        margin-left: 5px;
      }
    }
    h3 {
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      & + p {
        margin-top: 20px;
      }
    }
    .announcement p {
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

// mobile menu

@media (min-width: $nav-bp) {
  header.site-header nav > button,
  .mobile-bonus-nav {
    display: none;
  }
}


@media (max-width: $nav-bp) {
  header.site-header nav .collapsible {
    display: none;
  }
  header.site-header nav {
    display: flex;
    justify-content: flex-end;
  }

  header.site-header .logo {
    max-width: 200px;
  }

  header.site-header nav:not(.expanded) {
    .mobile-bonus-nav {
      display: none;
    }
  }

  .submark img {
    max-width: 35px;
    filter: grayscale(1) invert(1);
  }

  header.site-header nav.expanded {
    position: relative;
    button {
      position: relative;
      z-index: 100;
      color: white;
    }
  }

  header.site-header nav.expanded .collapsible {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    padding: 5%;
    text-align: right;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    background:#000;
    box-shadow: -12px 0px 30px #EE7B7B;
    > ul {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > * {
        color: white;
      }
      > li {
        padding: 0;
        padding-top: 30px;
      }
    }
    .mobile-bonus-nav {
      flex: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        li {
          padding: 5px;
          font-size: 14px;
          line-height: 20px;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

// about page
.page-about {
  position: relative;
  overflow: hidden;
  > * {
   //  background: #fff;
    z-index: 10;
    position: relative;
  }

  > *:not(.full-row):not(.fixed) {
    @include gridFixed;
    padding: 50px 0;
  }

  
  .section1 {
    .fixed-content {
      @include gridFixed;
      @media (min-width: $mobile-bp) {
        // padding: 150px 0 180px 0;
        // padding-bottom: 180px;
      }

    }
    .text-wrapper {
      grid-column: 2 / span 8;
      grid-row: 1 / 2;  
      @media (max-width: $mobile-bp) {
        grid-column: 1 / 13;
      }
      padding-bottom: 30px;
    }
    h2 {
      font-size: 26px;
      line-height: 34px;
    }
    h2 + p {
      margin-top: 30px;
    }
    p {
      grid-column: 2 / span 8;
      grid-row: 2 / 3;
      font-size: 18px;
      line-height: 26px;
    }
  }

  .capabilities {
    background: #000;
    * {
      color: #fff;
    }
    .image-wrapper {
      @media (min-width: $mobile-bp) {
        flex-basis: 65%;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        @media (max-width: $mobile-bp) {
          object-fit: cover;
        }
      }
      @media (min-width: 1600px) {
        padding: 50px;
      }
    }
    .text-wrapper {
      padding: 50px;
      > *:not(:last-child) {
        margin-bottom: 50px;
      }
      h2 {
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
      }
      .main-list p {
        font-family: 'Reckless', serif;
        font-size: 36px;
        line-height: 48px;
      }
      .sub-list p {
        font-size: 15px;
        line-height: 17px;
        + p {
          margin-top: 6px;
        }
      }
    }
  }
  .image-text-row {
    @media (max-width: $mobile-bp) {
      display: flex !important;
      flex-direction: column;
      > *:not(:last-child) {
        margin-bottom: 30px;
      }
      .image-wrapper {
        display: flex;
        // align-items: center;
        > * {
          display: flex;
        }
      }
    }
    > * {
      grid-row: 1 / 2;
      place-content: center;
    }
    h2 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      line-height: 26px;
    }
    &.image-right {
      .text-wrapper {
        grid-column: 2 / span 5;
      }
      .image-wrapper {
        grid-column: 8 / span 5;
      }
    }
    &.image-left {
      .image-wrapper {
        grid-column: 2 / span 5;
      }
      .text-wrapper {
        grid-column: 8 / span 4;
      }
    }
    .image-wrapper {
      display: flex;
      > * {
        flex-basis: 100%;
        &:nth-child(2) {
          margin-left: 15px;
        }
      }
      video, 
      img {
        height: 100%;
        min-height: 100%;
        width: 100%;
        min-width: 100%;
        max-width: unset;
        object-fit: cover;
      }
    }
    // .image-wrapper.overflow {
    //   // @media (min-width: $mobile-bp) {
    //   //   width: 150%;
    //   // }
    // }
  }
  

  .belief-banner {
    border-bottom: 1px solid black;
    overflow: hidden;
    padding: 30px;

    // for ticker

    .text-wrapper {
      overflow: hidden;
      h2 {
        background: #fff;
        padding-right: 30px;
        position: relative;
        z-index: 10;
      }
    }
    .text-wrapper {
      @include contained;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      > * {
        margin: 0;
      }
      h2 {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
        white-space: nowrap;
        margin-right: 30px;
      }
      ul, ol {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: disc;
        li {
          white-space: nowrap;
          display: inline-block;
          font-size: 14px;
          line-height: 20px;
          &:not(:last-child) {
            padding-right: 60px;
            @media (max-width: $mobile-bp) {
              padding-right: 30px;
            }
          }
        }
      }
    }
  }
}
.about-wrapper {
  .cta {
    position: relative;
    z-index: 9;
    background: rgba(0,0,0,0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    > *, a, span {
      color: #fff;
    }
    > .bg-video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9;
    }
    .text-wrapper {
      position: relative;
      z-index: 10;
      padding: 200px 0;
    }
    h2 {
      max-width: 585px;
      @media (max-width: $mobile-bp) {
        max-width: 90%;
      }
      margin: 0 auto;
      font-family: 'Reckless', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 30px;
    }

    button {
      display: flex;
      justify-content: center;
      a {
        font-size: 24px;
        line-height: 31px;
      }
    }
  }
}
.full-row {
  display: flex;
  @media (max-width: $mobile-bp) {
    flex-direction: column;
    > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.two-col {
  column-count: 2;
}

button.underlined {
  a, span {
    border-bottom: 1px solid #fff;
  }
}

// .instagram-container {
//   display: flex;
//   max-height: 260px;
//   overflow: hidden;
//   * {
//     min-height: 100%;
//   }
//   .media-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     img, video {
//       object-fit: cover;
//       height: 100%;
//       width: 100%;
//     }
//   }

//   .feed {
//     display: flex;
//     > * {
//       flex: 0 0 calc(20vw - 26px);
//       margin-left: 26px;
//     }
//   }
// }

footer {
  position: relative;
  z-index: 11;
}

.page-about {
  &.container {
    @media (max-width: $mobile-bp) {
      padding-top: 60px;
    }
    // background: white;
    position: relative;
    z-index: 9;
  }
}
.video-scroller-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 8;
  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-wrapper,
  .video-wrapper * {
    min-height: 100%;
    height: 100%;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    * {
      color: #fff;
}
  }
}

// header.site-header {
//   position: relative;
//   z-index: 20;
// }

.fixed-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.container-home .logo-scroller {
  padding-top: 100vh;
  padding-bottom: 100vh;
}
.logo-scroller {
  // has grid
  .scroller-wrapper {
    // img {
    //   filter: brightness(100);
    // }
    grid-column: 7 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    .logo {
      padding: 10vh 0;
      place-self: center;
      &:nth-child(3n+1) {  
        // border:10px solid blue;
        grid-column: 1 / span 2;
      }
      &:nth-child(3n+2) {  
        // border:10px solid green;
        grid-column: 4 / span 2;
      }
      &:nth-child(3n+3) {  
        // border:10px solid red;
        grid-column: 2 / span 2;
      }
    }
  }
}


.container-work {
  .work-grid {
    grid-row-gap: 50px;

    .work-grid-item {
      margin: 0;
      overflow: hidden;
      &:nth-child(3n+1) {  
        grid-column: 1 / span 5;
        place-self: start;
      }
      &:nth-child(3n+2) {  
        grid-column: span 4 / 13;
        place-self: center;
      }
      &:nth-child(3n+3) {  
        grid-column: 6 / span 3;
        place-self: center;
      }

      @media (max-width: $mobile-bp) {
        grid-row-gap: 50px;

        &:nth-child(even) {  
          grid-column: 5 / 13;
          place-self: start;
        }
        &:nth-child(odd) {  
          grid-column: 2 / 10;
          place-self: center;
        }
      }
    }
  }
}


.layout-default.work {
    background: #000;
    *, a {
      color: #fff;
    }
    header.site-header .logo img {
      filter: grayscale(1) invert(0);
    }
}

.page-about {
  .video-wrapper {
    position: relative;
    > * {
      position: absolute;
      top: 0;
      left: 0;
    }
    img {
      z-index: 9;
      opacity: 1;
      transition: .3s ease all;
      &.fade-out {
        opacity: 0;
      }
    }
    video {
      z-index: 8;
    }
  }
}


// fixes for pinning on about page

.page-about .section4 {
  padding-bottom: 180px !important;
}
.page-about .section1 .text-wrapper {
  padding: 200px 0 180px 0 !important;
}

.page-about.container {
  margin-top: 0 !important;
  padding-top: 0 !important;
  background: transparent !important;
}

.page-about .image-text-row {
  .image-wrapper {
    place-self: center;
  }
}
.page-about .section2.image-text-row {
  .image-wrapper {
    max-height: 344px;
    @media (min-width: $mobile-bp) {
      transform: translateX(40px);
    }
  }
}
.page-about .section3.image-text-row {
  .image-wrapper {
    max-height: 676px;
  }
}
.page-about .section4.image-text-row {
  .image-wrapper {
    max-height: 344px;
    @media (min-width: $mobile-bp) {
      transform: translateX(40px);
    }
  }
  margin-bottom: 5px !important;
}

.no-p-margin p {
  margin: 0 !important;
}