@use 'system/_colors.scss'as *;
@use 'system/_typography.scss'as *;
@use 'system/_layout.scss'as *;
@use 'system/_buttons.scss'as *;


::-moz-selection {
  /* Code for Firefox */
  color: $cloud;
  background: #000;
}

::selection {
  color: $cloud;
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: .3s ease all;
}

//   html {
//     background-color: white;
//   }
#__layout {
  min-height: 100%;
  min-height: 100vh;
}

.visually-hidden {
  display: none;
}

body {
  @include fontDmSans;
  background: $cloud;
}

body.home {
  background: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

nav ul {
  list-style: none;
}

.p {
  font-size: 16px;
  text-transform: none;
}


.text-wrapper {
  display: flex;
  flex-direction: column;

  >*:not(:last-child) {
    margin-bottom: 10px;
  }

  p,
  .p {
    max-width: 50ch;
  }
}


.fixed-header {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  z-index: 134;
}

.home {
  .fixed-header:not(.menu-expanded) {
    mix-blend-mode: difference;
  }
}

.fixed-header+* {
  position: relative;
  z-index: 12;
}

header.site-header {
  width: 100%;
  padding-top: 30px;
  @include gridFixed;

  .logo {
    grid-column: 1 / span 2;

    @media (max-width: $mobile-bp) {
      grid-column: 1 / span 6;
    }

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  nav {
    grid-column: span 6 / 13;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        padding: 30px;
        font-size: 18px;
        line-height: 16px;

        @media (max-width: $mobile-bp) {
          font-size: 20px;
        }

        transition: .3s ease all;

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          font-size: 20px;
        }

        a {
          &.nuxt-link-active {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}

.layout-default header.site-header {
  .logo img {
    filter: brightness(0);
  }
}



section {
  width: 100%;

  &.basic-row {
    display: flex;

    &+.basic-row {
      margin-top: 30px;
    }
  }
}



form {
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
  }

  textarea {
    outline: 0;
    border-radius: 0;
    background: transparent;
    height: 300px;
  }
}


.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}


section.capability-list {
  background: rgba(191, 191, 191, 1);
  padding: 15vh 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  >* {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .highlight-image {
    // transition: padding 0s;
    overflow: hidden;
    position: absolute;
    place-self: center;
    z-index: 102;
    width: 100%;
    height: 0;
    opacity: 0;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  ul {
    list-style: none;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      color: white;
      text-transform: uppercase;
      font-size: 36px;
      z-index: 101;
      padding: 10px;
      display: block;
    }
  }
}

.about-grid {
  display: flex;
  flex-direction: column;

  >*:not(:last-child) {
    margin-bottom: $spacer;
  }
}

// .about-grid section {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-auto-rows: auto;
//   margin: 0 auto;
//   max-width: 1080px;
//   @media (max-width: 1080px) {
//     max-width: 90%;
//   }
// }

.grid-parent {
  .grid-wrapper {
    &.grid-fixed {
      margin: 0 auto;
      max-width: 1080px;

      @media (max-width: 1080px) {
        max-width: 90%;
      }

      .grid-template {
        width: 100%;
      }
    }

    &.grid-fluid {
      padding: 0 15px;

      .grid-template {
        margin: 0 auto;
        max-width: 1080px;

        @media (max-width: 1080px) {
          max-width: 90%;
        }
      }
    }

    .grid-template {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 15px;
      grid-auto-rows: auto;
    }
  }
}

.about-grid {
  padding-bottom: 30px;

  p+p {
    margin-top: $spacer;
  }

  .introduction {
    .grid-column {
      grid-column: #{'2 / 7'};
    }
  }

  .section-divider {
    margin-top: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    .grid-column {
      grid-column: #{'1 / 13'};
      display: flex;
      align-items: center;
      padding: 10px 0;

      >*:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .floating-text {
    margin: 30px 0;

    h3 {
      font-size: 28px;
      margin-bottom: 30px;
    }

    .grid-column {
      &.col-start-8 {
        grid-column: 8 / span 4;
      }

      &.col-start-4 {
        grid-column: 4 / span 4;
      }

      &.col-start-6 {
        grid-column-start: 6;
      }

      &.col-start-7 {
        grid-column-start: 7;
      }
    }
  }

  .call-to-action {
    margin: 30px 0 130px 0;

    .grid-column {
      grid-column: #{'2 / 11'};
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .asterisks {
    .grid-column {
      grid-column: #{'1 / 13'};

      p {
        font-size: 12px;
      }
    }
  }
}

button.flat {
  border: 0;
  outline: none;
  border-radius: 0;
  background: transparent;

  a {
    font-size: 16px;
  }
}



.button,
button {
  outline: none;
  border: 0;
  background: transparent;
  @include fontDmSansUpper;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.button:not(.flat),
button:not(.flat) {

  a,
  span {
    background: $charcoal;
    transition: .3s ease all;
    color: $cloud;
    border-radius: 20px;
    display: inline-block;
    padding: $spacer $spacer*2;
  }

  &:disabled {
    &:hover {
      cursor: default;
    }

    a,
    span {
      background: lighten($charcoal, 30);
      color: $cloud;
    }
  }

  &:hover {
    cursor: pointer;

    a,
    span {
      background: #F18E71;
      color: $cloud;
    }
  }
}

p.small {
  font-size: 0.8em;
}


.video-wrapper {
  width: 100%;
  overflow: hidden;

  video {
    max-width: 100%;
  }
}


.grid-fixed {
  @include gridFixed;
}

// page containers with grid
.container {
  width: 100%;

  &:not(.container-no-margin) {
    margin-top: 200px;

    @media (max-width: $mobile-bp) {
      margin-top: 150px;
    }
  }

}

.container:not(.container-no-grid) {
  @include gridFixed;

  &:not(.container-home):not(.container-no-margin) {
    margin-top: 200px;
    margin-bottom: 100px;

  }
}

/* TYPOGRAPHY */

html {
  font-size: $baseFontSize;
}


/* LAYOUTS */
.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

button[disabled] {
  pointer-events: none
}

input::placeholder,
input {
  @include inputStyle;
  opacity: 1;
  color: #000;
}

textarea {
  border: 1px solid #000;
}

.error-group {
  * {
    color: #F18E71;
  }

  >*:not(:last-child) {
    margin-bottom: 10px;
  }

}

.has-error {
  input.is-not-valid {
    background: #F18E71;
  }
}

// team page





.full-row {
  display: flex;

  @media (max-width: $mobile-bp) {
    flex-direction: column;

    >*:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.two-col {
  column-count: 2;
}

button.underlined {

  a,
  span {
    border-bottom: 1px solid $cloud;
  }
}

.video-scroller-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 8;

  >* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-wrapper,
  .video-wrapper * {
    min-height: 100%;
    height: 100%;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    * {
      color: $cloud;
    }
  }
}

// header.site-header {
//   position: relative;
//   z-index: 20;
// }

.fixed-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}



.logo-scroller {

  // has grid
  .scroller-wrapper {
    // img {
    //   filter: brightness(100);
    // }
    grid-column: 7 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

    .logo {
      padding: 10vh 0;
      place-self: center;

      &:nth-child(3n+1) {
        // border:10px solid blue;
        grid-column: 1 / span 2;
      }

      &:nth-child(3n+2) {
        // border:10px solid green;
        grid-column: 4 / span 2;
      }

      &:nth-child(3n+3) {
        // border:10px solid red;
        grid-column: 2 / span 2;
      }
    }
  }
}




// .layout-default.work {
//   background: #000;

//   *,
//   a {
//     color: $cloud;
//   }

//   header.site-header .logo img {
//     filter: grayscale(1) invert(0);
//   }
// }


// fixes for pinning on about page


.no-p-margin p {
  margin: 0 !important;
}

.text-wrapper {

  ul,
  ol {

    ul,
    ol {
      padding-left: 30px;
    }
  }
}


h2,
.h2 {
  @include h2Style;
}

p,
.p {
  @include pStyle;
}
